/* 1 => Remove default browser styles and add some opinionated styles for browser compatability*/

/* 2 => apply downloaded font*/

@import url('normalize.css'); /* 1 */

@font-face{
  font-family: fylo-font;
  src: url(Raleway/Raleway-VariableFont_wght.ttf);
} /* 2 */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: fylo-font, sans-serif;
}

body{
  min-height: 100vh;
}

.navigation, ul{
  display: flex;
}

.navigation img{
  width: clamp(100px, 100px + 2vw, 200px);
}

.navigation{
  justify-content: space-between;
  padding: calc(1rem + 1vw);
  align-items: center;
}

ul{
  gap: calc(1rem + 0.5vh);
}

.content-intro{
  display: flex;
  flex-flow: column-reverse nowrap;
}

.context-intro figure, .content-intro img{
  max-inline-size: 100%;
}


.content-intro article h2{
  text-align: center;
  line-height: max(2.5rem, 2vh);
  font-size: 2rem;
  margin: clamp(20px, 2rem - 1vw, 30px);
  color: hsl(238, 22%, 44%);
}

.content-intro article p, .further-details article .service-description{
  text-align: center;
}

.service-summary{
  line-height: calc(20px + 1vh);
}

.content-intro .search-bar{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 30px;
  margin-top: 20px;
}

.content-intro .search-bar input{
  flex-basis: 35px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid grey;
}

.content-intro .search-bar input:nth-child(2), .content-footer form input:nth-child(2){
  display: block;
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.further-details{
  display: flex;
  flex-flow: column-reverse;
}

.service{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: clamp(20px, 2rem - 1vw, 30px);
}

.further-details figure, .further-details figure img{
  max-inline-size: 100%;
}

.further-details .service-description p{
  text-align: start;
  margin-bottom: 20px;
  line-height: calc(15px + 2vh);
}

.service-description h2{
  margin-bottom: 20px;
}

.link{
  text-decoration: underline;
  color: green;
}

.testimonial{
  font-family: system-ui, sans-serif;
  padding: 20px;
  max-width: 350px;
  align-self: center;
  border-radius: 10px;
  background-color: hsl(240, 75%, 98%);
}

.testimonial .comment{
  line-height: 20px;
  font-family: sans-serif;
  letter-spacing: 0.8px;
}

.testimonial .user-info img{
  max-width: clamp(40px, 40px + 2vw, 100px);
  aspect-ratio: 1 / 1;
  border-radius: 50% ;
}

.testimonial .user-info{
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.testimonial .user-info .user-name h3{
  font-size: calc(1rem + 0.5vw);
}

.testimonial .user-info .user-name p{
  font-size: calc(0.5rem + 0.5vw);
}

.content-footer{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  padding: 40px 0;
  background-color: hsl(0, 0%, 75%);
}

h3{
  font-size: 1.5rem;
  font-family: fylo-font, sans-serif;
  margin-bottom: 10px;
}

.content-footer div p{
  max-inline-size: 60%;
  margin: 0 auto;
  line-height: calc(16px + 2vh);
}

.content-footer form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 50px;
}

.content-footer form input{
  height: 40px;
}

input::placeholder{
  font-family: fylo-font, sans-serif;
  color: grey;
}

footer{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  font-family: sans-serif;
  padding: 50px 0 10px 40px;
  background-color: hsl(243, 87%, 12%);
}

footer ul a, footer div a, footer div p{
  color: white;
}

footer .contact-details img{
  filter: brightness(0) invert(1);
}

.contact-details img[alt="website logo"]{
  width: clamp(100px, 160px + 2vw, 200px);
}

footer .contact-details{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

footer ul{
  display: flex;
  flex-direction: column;
}

footer .social-media{
  display: flex;
  filter: brightness(0) invert(1);
  justify-content: center;
  column-gap: 15px;
}